<!-- app/pages/profile/profile.html -->

<ion-navbar *navbar>
  <ion-title>Profile</ion-title>
</ion-navbar>

<ion-content class="profil"  padding *ngIf="!auth.authenticated()">
  <ion-row>
  <ion-col width-25></ion-col>
  <ion-col width-50>
      <ion-card style="opacity: 0.7">
        <img style="opacity:0.7"src="img/axa.jpg"/>
        <button block (click)="login()">Login</button>
      </ion-card>
    </ion-col>
    <ion-col width-25></ion-col>
  </ion-row>
</ion-content>

<ion-content class="profil" padding *ngIf="auth.authenticated()">

  <ion-card>

    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>

  </ion-card>

  <button block (click)="auth.logout()">Logout</button>

</ion-content>
